<div class="panel panel-default col-sm-6 card">
	<div class="panel-heading">
	<h3 class="panel-title">bookmark title</h3>
	
	</div>
	<div class="panel-body">
		<iframe class="embed-responsive-item" src="http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials" frameborder="120" style="width: 100%"></iframe>
		<p><a href="https://github.com/JuKyoKim/borkVisual">visit page</a></p>
	</div>
</div>
