<div class="container about_page">
	<h1>FAQ, and other fun stuff!</h1>
	<div class="container col-sm-4 faq_card">
		<h3>why the name bork it?</h3>
		<p>Things I make tends to "bork" a lot, and I just happened to look at a startpage some dude made on some NSFW websites, sooooo yea.... you can pretty much imagine how it got its name.</p>
	</div>
	<div class="container col-sm-4 faq_card">
		<h3>Why did u make a start up page when everyone tends to make their own?</h3>
		<p>Well i got bored, and i love seeing things visually, so i thought hmmmm I like card format ppls are using, and i like to look at previews of stuff, soooo i mashed it</p>
	</div>
	<div class="container col-sm-4 faq_card">
		<h3>do you think it was worth the time in making this app?</h3>
		<p>OH HELL YEA! I learned a shit ton from making this app. plus It looks decent enough to go on my portfolio, so YEA MAN!</p>
	</div>
</div>