<div class="index">
	<div class="container text-center" id="intro">
		<h1 class="intro_head">
			Bork IT
		</h1>

		<h1 class="intro_head">
			(bookmark it)
		</h1>

		<p class="intro_text">
			Welcome to Bork it! A simple CRUD based rails app that lets you store website URL's for later use. give this a try and let me know what you think about it.
		</p>
		<%= link_to "sign up and try it out!", new_user_path ,class: "btn btn-primary btn-lg"%>

	</div>
</div>

