@import "bootstrap-sprockets";
@import "bootstrap";

.index{
	padding-top: 200px;
	background:url("http://freeuse.io/img_preview/484-black-and-white-lake-nature-sailing.jpg");
	background-size:cover;
	margin: 0 auto;
	width: 100%;
	height: 950px;
}

.forms_for{
	padding-top:200px;	
}

#intro{
	color: white;
	padding-top: 40px;
	width: 75%;
}

.intro_head{
	margin-top: 25px;
	font-size: 75px;
}

.intro_text{
	margin-top: 75px;
	margin-bottom: 75px;
	font-size: 25px;
}

.about_page{
	padding-top:200px;	
}

.faq_card{
	margin-top:75px;
}

.overall_container{
	margin-top: 100px;
}

.backbutton{
	margin-bottom: 20px;
}
